In [2]:
from urllib.request import urlretrieve

In [3]:
import pandas as pd

In [5]:
url = 'https://www.alphavantage.co/query?function=CRYPTO_INTRADAY&symbol=ETH&market=USD&interval=5min&apikey=demo&datatype=csv'

In [6]:
urlretrieve(url,'CRYPTO_INTRADAY.csv')

('CRYPTO_INTRADAY.csv', <http.client.HTTPMessage at 0x260520d33a0>)

In [9]:
df = pd.read_csv('CRYPTO_INTRADAY.csv', sep=';')
print(df.head())

                timestamp,open,high,low,close,volume
0  2022-09-17 23:00:00,1465.33000,1466.12000,1463...
1  2022-09-17 22:55:00,1463.81000,1467.37000,1463...
2  2022-09-17 22:50:00,1461.49000,1464.55000,1461...
3  2022-09-17 22:45:00,1462.27000,1462.77000,1460...
4  2022-09-17 22:40:00,1463.16000,1463.50000,1460...

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   timestamp,open,high,low,close,volume  100 non-null    object
dtypes: object(1)
memory usage: 928.0+ bytes

In [11]:
df.describe()

                     timestamp,open,high,low,close,volume
count                                                 100
unique                                                100
top     2022-09-17 23:00:00,1465.33000,1466.12000,1463...
freq                                                    1

In [12]:
df.head()

                timestamp,open,high,low,close,volume
0  2022-09-17 23:00:00,1465.33000,1466.12000,1463...
1  2022-09-17 22:55:00,1463.81000,1467.37000,1463...
2  2022-09-17 22:50:00,1461.49000,1464.55000,1461...
3  2022-09-17 22:45:00,1462.27000,1462.77000,1460...
4  2022-09-17 22:40:00,1463.16000,1463.50000,1460...