In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [8]:
df=pd.read_csv("Garda_Stations_FCC.csv")

In [9]:
print(df.head())

               X             Y                      Name  \
0 -689184.858417  7.097460e+06  Balbriggan Garda Station
1 -679823.856719  7.090934e+06    Skerries Garda Station
2 -686544.630268  7.080412e+06        Lusk Garda Station
3 -684826.043902  7.066881e+06    Malahide Garda Station
4 -692536.890330  7.067808e+06      Swords Garda Station

                Address1    Address2    Address3           Phone  Eircode  \
0          Drogheda Road  Balbriggan  Co. Dublin  +353 1 8020510  K32WE01
1          Strand Street    Skerries  Co. Dublin  +353 1 8491211  K34F682
2            Dublin Road        Lusk  Co. Dublin  +353 1 8437222  K45YH94
3  1-2 St. James Terrace    Malahide  Co. Dublin  +353 1 6664600  K36NH50
4            Main Street      Swords  Co. Dublin  +353 1 6664700  K36RF70

                                     Website  \
0  http://www.garda.ie/Stations/Default.aspx
1  http://www.garda.ie/Stations/Default.aspx
2  http://www.garda.ie/Stations/Default.aspx
3  http://www.garda.ie/Stations/Default.aspx
4  http://www.garda.ie/Stations/Default.aspx

                                       Division Divisional_HQ  \
0  Dublin Metropolitan Region Northern Division      Ballymun
1  Dublin Metropolitan Region Northern Division      Ballymun
2  Dublin Metropolitan Region Northern Division      Ballymun
3  Dublin Metropolitan Region Northern Division      Ballymun
4  Dublin Metropolitan Region Northern Division      Ballymun

  Divisional_HQ_Phone    District District_HQ District_HQ_Phone  \
0      +353 1 6664493  Balbriggan  Balbriggan    +353 1 8020510
1      +353 1 6664493  Balbriggan  Balbriggan    +353 1 8020510
2      +353 1 6664493  Balbriggan  Balbriggan    +353 1 8020510
3      +353 1 6664493     Coolock     Coolock    +353 1 6664282
4      +353 1 6664493     Coolock     Coolock    +353 1 6664282

    Opening_Hours        LAT      LONG  ObjectId
0     Open 24hrs   53.614378 -6.191053         1
1   Closes at 9pm  53.579590 -6.106962         2
2  Closes at 9pm   53.523435 -6.167335         3
3  Closes at 9pm   53.451109 -6.151897         4
4     Open 24hrs   53.456067 -6.221165         5

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   X                    18 non-null     float64
 1   Y                    18 non-null     float64
 2   Name                 18 non-null     object
 3   Address1             18 non-null     object
 4   Address2             18 non-null     object
 5   Address3             14 non-null     object
 6   Phone                18 non-null     object
 7   Eircode              18 non-null     object
 8   Website              18 non-null     object
 9   Division             18 non-null     object
 10  Divisional_HQ        18 non-null     object
 11  Divisional_HQ_Phone  18 non-null     object
 12  District             18 non-null     object
 13  District_HQ          18 non-null     object
 14  District_HQ_Phone    18 non-null     object
 15  Opening_Hours        18 non-null     object
 16  LAT                  18 non-null     float64
 17  LONG                 18 non-null     float64
 18  ObjectId             18 non-null     int64
dtypes: float64(4), int64(1), object(14)
memory usage: 2.8+ KB

In [11]:
df.describe()

                   X             Y        LAT       LONG   ObjectId
count      18.000000  1.800000e+01  18.000000  18.000000  18.000000
mean  -698471.534466  7.065624e+06  53.444315  -6.274477   9.500000
std     14394.879526  1.501405e+04   0.080265   0.129311   5.338539
min   -723391.481352  7.049138e+06  53.356085  -6.498336   1.000000
25%   -710562.835771  7.055406e+06  53.389678  -6.383095   5.250000
50%   -695502.909719  7.058783e+06  53.407765  -6.247809   9.500000
75%   -688107.015797  7.075569e+06  53.497553  -6.181370  13.750000
max   -675595.490390  7.097460e+06  53.614378  -6.068978  18.000000

In [12]:
df.columns

Index(['X', 'Y', 'Name', 'Address1', 'Address2', 'Address3', 'Phone',
       'Eircode', 'Website', 'Division', 'Divisional_HQ',
       'Divisional_HQ_Phone', 'District', 'District_HQ', 'District_HQ_Phone',
       'Opening_Hours', 'LAT', 'LONG', 'ObjectId'],
      dtype='object')

In [13]:
df.shape

(18, 19)

In [14]:
df.isnull().sum()

X                      0
Y                      0
Name                   0
Address1               0
Address2               0
Address3               4
Phone                  0
Eircode                0
Website                0
Division               0
Divisional_HQ          0
Divisional_HQ_Phone    0
District               0
District_HQ            0
District_HQ_Phone      0
Opening_Hours          0
LAT                    0
LONG                   0
ObjectId               0
dtype: int64

In [15]:
import re